src/main/app/FufillmentWebService.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:salesforce="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.4.0"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd 
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/5.0/mule-sfdc.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd ">
	<sfdc:config name="sfconfig" username="username" password="password"
		securityToken="TOKEN" doc:name="Salesforce"
		doc:description="Global configuration for Salesforce operations">
	</sfdc:config>
    <data-mapper:config name="FulfillmentOrder2LegacyCSV_map" transformationGraphPath="fulfillmentorder2legacycsv_map.grf" doc:name="DataMapper"/>
	<flow name="Fulfillment_LegacySystemModernization" doc:name="Fulfillment_LegacySystemModernization"
		doc:description="This is a simple Mule Studio project that illustrates a Legacy System Modernization use case.">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="1080" path="OrderFulfillment" doc:name="Receive Order"
			doc:description="Process HTTP reqests or responses." />
		<cxf:jaxws-service port="80" serviceClass="org.ordermgmt.IFulfillment"
			enableMuleSoapHeaders="false" doc:name="FulfillmentWebService"
			doc:description="Make a web service available via CXF" />
		<component class="org.ordermgmt.FulfillmentImpl" doc:name="Process Order"
			doc:description="Invoke a Java component" />
		<async doc:name="Async - Legacy Fulfillment Service">
            <data-mapper:transform config-ref="FulfillmentOrder2LegacyCSV_map" doc:name="DataMapper"/>
			<byte-array-to-string-transformer
				doc:name="Transform-to-String" />
			<file:outbound-endpoint path="src/test/resources/Output"
				outputPattern="ShippingOrder-#[function:datestamp].txt" doc:name="LegacyFulfillment" />
		</async>
	</flow>
</mule>
